<h1>Messages</h1>

<div>
  <div class="message" *ngFor="let message of messages">
    <mat-card>
      <mat-card-title>{{ message.author }}</mat-card-title>
      <mat-card-content>
        <p>{{ message.message }}</p>
        <img
          [src]="message.image"
          [alt]="'Message of ' + message.author"
          mat-card-image
        />
      </mat-card-content>
    </mat-card>
  </div>
</div>
