<h1>New message</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea
          name="message"
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          required
        >
        </textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Publish</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
